.blog-inner{
    padding: 8rem 0rem;
}

.blog-inner-img {
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 80px;
}

.blog-inner-wrapper {
    width: 752px;
    margin: auto;
}

.blog-info-head {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.blog-info-head p:nth-child(2) {
    margin-left: 8px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: #394149;
}

.blog-info-head p:nth-child(3) {
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: #394149;
}

.blog-inner-heading {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.12;
    color: #1D3444;
    margin-bottom: 44px;
}

.blog-inner-text {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5B5B5B;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-inner-title {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.16;
    margin: 50px 0px;
    color: #0D1317;
}