.blog-wrapper {
    background-color: #DCEAF5;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 12.8rem 7rem;
}

.blog-info-head {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.blog-info-head p:nth-child(2) {
    margin-left: 8px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: #394149;
}

.blog-info-head p:nth-child(3) {
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: #394149;
}

.blog-info-title {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.12;
    color: #1D3444;
    margin-bottom: 24px;
}

.blog-info-paragraph {
    width: 565px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    color: #5B5B5B;
    margin-bottom: 24px;
}

.blog-info-btn {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 1.6rem;
    line-height: 1.06;
    color: #F58A07;
}

.blog-info-btn img {
    margin-left: 8px;
}

.blog-img {
    border-radius: 2rem;
}

.blog-posts {
    padding: 12.8rem 7rem;
}

.blog-posts-heading {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.16;
    color: #0D1317;
    margin-bottom: 54px;
}

.blog-posts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-image{
    width: 100%;
}

.blog-posts-item {
    width: 390px;
    height: auto;
    background-color: #EDF7FF;
    border-radius: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-bottom {
    padding: 3.2rem;
}

.item-bottom-title {
    font-size: 2.4rem;
    line-height: 1.5;
    color: #0D1317;
    margin-bottom: 16px;
}

.item-bottom-text {
    font-size: 1.6rem;
    line-height: 1.7;
    color: #5B5B5B;
    margin-bottom: 24px;
}

